SUPABASE_URL=https://oenjdlnlzioevtqxejdc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9lbmpkbG5semlvZXZ0cXhlamRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNDkyOTEsImV4cCI6MjA5NzgyNTI5MX0.wSWmFYkMkJGdib-IkPmwU6r6vw5Rj_QxioTH0Qmqm7E
